version: '3.8'

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - backend
    ports:
      - "11434:11434"
    restart: unless-stopped

  ragbot:
    build: .
    container_name: ragbot
    volumes:
      - ./data:/app/data
      - ./chroma_db:/app/chroma_db
    networks:
      - backend
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    restart: unless-stopped

networks:
  backend:
      driver: bridge

volumes:
  ollama_data: 